{% extends 'admin_dashboard/team_leader/base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Responsive data table</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js|https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

<style type="text/css">

/*optional css*/

body{ padding: 20px; }

</style>

</head>
<body>

<h5 class="text-center text-uppercase ">Time Sheet</h5>



<table class="table table-bordered table-hover mytable " >
<thead>
   
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created Date</th>
    </tr>
</thead>

<tbody>
    {% for log in logs %}
    <tr>
        {% if log.user %}
            <td>{{ log.user.name }}</td>
        {% elif log.admin %}
            <td>{{ log.admin.name }}</td>
        {% elif log.team_leader %}
            <td>{{ log.team_leader.name }}</td>
        {% elif log.team_leader %}
            <td>{{ log.team_leader.name }}</td>
        {% endif %}
        <td>{{ log.description }}</td>
        <td>{{ log.created_date }}</td>
    {% endfor %}

    </tr>
   


</tbody>

</table>




<!-- data table live cdn  -->



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script  src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script  src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


<script type="text/javascript">
$('.mytable').dataTable( {

"responsive" : true
} );
</script>
</body>
</html>
    
{% endblock %}
