
{% extends 'admin_dashboard/team_leader/base.html' %}  
{% block content %}
{% load static %}

<div class="dashboard-main-body">
  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <!-- <h6 class="fw-semibold mb-0">Leads</h6> -->
    <ul class="d-flex align-items-center gap-2">
      <li class="fw-medium">
        <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
          
        </a>
      </li>
    </ul>
  </div>

  <div class="col-xxl-12">
    <div class="row gy-4">
      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'leads' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-3">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="mingcute:user-follow-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Total Leads : {{ total_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          </div>
        </div>
      </a>
      </div>

      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'lost_leads' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="mingcute:user-follow-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Interested : {{ total_interested_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </a>
      </div>

      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'customer' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Not Interested : {{ total_not_interested_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          </a>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'maybe' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Other Location : {{ total_other_location_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </a>
      </div>
      
      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'not_picked' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Not Picked : {{ total_not_picked_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </a>
      </div>
      
      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'lost' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Lost : {{ total_lost_leads }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </a>
      </div>

      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'leads' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Soon ... : {{ logged_out_count }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </a>
      </div>

      <div class="col-xxl-3 col-sm-3">
        <a href="{% url 'leads' %}" style="display: block;">
        <div class="card p-3 shadow-2 radius-8 border input-form-light h-40 bg-gradient-end-2">
          <div class="card-body p-0">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-25-px h-25-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                  <iconify-icon icon="iconamoon:discount-fill" class="icon"></iconify-icon>
                </span>
                <div>
                  <span class="mb-2 fw-medium text-secondary-light text-sm">Soon ... : {{ logged_out_count }}</span>
                  <!-- <p class="fw-semibold">{{ logged_in_count }}</p> -->
                </div>
              </div>
              <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
            </div>
          
          </div>
        </div>
      </div>

    </div>
    </a>
  </div>



    <div class="dashboard-main-body">
      <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <!-- <h6 class="fw-semibold mb-0">Leads Users</h6> -->
    <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
    </li>
    </div>
    
      <div class="card h-100 p-0 radius-12">
          <div class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
            {% comment %} <div class="dropdown" >
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: #7f8285; border: 1px solid #a9acb133; font-weight: 400; width: 180px; height: 40px; border-radius: 50px;">
                Assigned
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                
              </ul>
            </div>
            <div class="dropdown" >
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: #7f8285; border: 1px solid #a9acb133; font-weight: 400; width: 180px; height: 40px; border-radius: 50px;">
                Customer
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                
              </ul>
            </div>
            <div class="dropdown" >
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: #7f8285; border: 1px solid #a9acb133; font-weight: 400; width: 180px; height: 40px; border-radius: 50px;">
                IT-Team
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                
              </ul>
            </div>
            <div class="dropdown" >
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: #7f8285; border: 1px solid #a9acb133; font-weight: 400; width: 180px; height: 40px; border-radius: 50px;">
                Lost
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'leads' %}"></a></li>
                lost_leads
              </ul>
            </div>
            <br>
            <br> {% endcomment %}
            <!------------------------------dropdownend--------------------------->
            <div class="d-flex align-items-center flex-wrap gap-3">
              <form class="navbar-search">
                <input type="text" id="searchInput" class="bg-base h-40-px w-auto" name="search" placeholder="Search" onkeyup="searchTable()">
                <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
              </form>
    
              </div>
              {% comment %} <form action="{% url 'excel_upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Upload">
                <input type="file" name="excel_file" id="excel_file">
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
                </form> {% endcomment %}



              {% comment %} <a href="{% url 'add_user' %}" class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2"> 
                  <iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>
                  Add New User
              </a> {% endcomment %}
          </div>
        
        
          {% comment %} <div class="modal-body">
                <form method="POST" action="{% url 'import_data' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="recipient-name"
                                    class="col-form-label" style="float: left;">Upload Excel File</label>
                                <input type="file" name="xls" required accept=".xls" class="form-control" id="recipient-names">
                            </div>
                        </div>
                    </div>
            </div> {% endcomment %}
          <div class="card-body p-24">
              <div class="table-responsive scroll-sm">
                  <table class="table bordered-table sm-table mb-0" id="myTable">
                    <thead>
                      <tr>    
                        <th scope="col">Name</th>
                        <th scope="col">Call</th>
                        <th scope="col">Whatsapp</th>
                        <th scope="col">Send</th>
                        <th scope="col">Status</th>
                        <th>Change Status</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                          <tr>
                              <td>{{ user.name }}</td>
                              <td>
                                <a href="tel:{{ user.call }}">
                                    <i class="fas fa-phone" style="font-size:1em;"></i></a>
                            </td>            
                            {% comment %} <td>
                              <a href="https://wa.me/{{ user.call }}" target="_blank">
                                  <i class="fab fa-whatsapp menu-icon" style="font-size:2em;"></i>
                              </a>
                          </td> {% endcomment %}
                          <td>
                            <a href="https://wa.me/{{ user.call }}?text={{ whatsapp_marketing.message }}%20{{ whatsapp_marketing.url }}%20{{ user.name }}" target="_blank">
                                <i class="fab fa-whatsapp menu-icon" style="font-size:2em;"></i>
                            </a>
                        </td>
                                <td>
                                  <button class="btn btn-toggle" onclick="toggleSendStatus({{ user.id }}, this)">
                                      {% if user.send == 'True' %}
                                      <span class="badge bg-success">Send</span>
                                      {% else %}
                                      <span class="badge bg-danger">Don't Send</span>
                                      {% endif %}
                                  </button>
                                </td> 
                              
                              <td>{{user.status}}</td>
                              <td>
                                <form action="{% url 'status_update' %}" method="POST">
                                    {% csrf_token %}
                                <input type="hidden" name="leads_id" value="{{ user.id }}">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">{{ user.status }}&nbsp;</button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="submit" name="new_status" value="Leads">Leads</button>
                                        <button class="dropdown-item" type="submit" name="new_status" value="Intrested">Intrested</button>
                                        <button class="dropdown-item" type="submit" name="new_status" value="Not Interested">Not Interested</button>
                                        <button class="dropdown-item" type="submit" name="new_status" value="Other Location">Other Location</button>
                                        <button class="dropdown-item" type="submit" name="new_status" value="Not Picked">Not Picked</button>
                                        <button class="dropdown-item" type="submit" name="new_status" value="Lost">Lost</button>
                                    </div>
                                </div>
                            </form>
                            </td>
                            <td>

                          </tr>
                      {% endfor %}
                  </tbody>
                  </table>
              </div>
          </div>
          
      </div>
    </div>
  </div>
  <script>
    function searchTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
  
      // Loop through all table rows, and hide those that don't match the search query
      for (i = 0; i < tr.length; i++) {
        var rowShouldBeVisible = false;
  
        // Loop through all cells of current row
        for (j = 0; j < tr[i].cells.length; j++) {
          td = tr[i].cells[j];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              rowShouldBeVisible = true;
              break; // If a match is found in this row, no need to check further
            }
          }
        }
        if (rowShouldBeVisible) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
  
    }
  </script>
  <script>
    function toggleSendStatus(userId, button) {
        var currentStatus = button.querySelector('.badge').textContent.trim() === 'Send';
        var newSendStatus = !currentStatus;

        fetch('{% url "update_send_status" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
            },
            body: JSON.stringify({
                id: userId,
                send: newSendStatus
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update button text based on the new status
                if (data.new_send_status) {
                    button.innerHTML = '<span class="badge bg-success">Send</span>';
                } else {
                    button.innerHTML = '<span class="badge bg-danger">Don\'t Send</span>';
                }
            } else {
                alert('Failed to update status: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }
  </script>


{% endblock %}