{% extends 'admin_dashboard/team_leader/base.html' %}  
{% block content %}
{% load static %}
    
    <div class="dashboard-main-body">
      <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Interested Leads</h6>
    <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
    </li>
    </div>
    
      <div class="card h-100 p-0 radius-12">
          <div class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
              <div class="d-flex align-items-center flex-wrap gap-3">
                  
              </div>
          </div>
          <div class="card-body p-24">
              <div class="table-responsive scroll-sm">
                  <table class="table bordered-table sm-table mb-0">
                    <thead>
                      <tr>    
                        <th scope="col">Name</th>
                        <th scope="col">Call</th>
                        <th scope="col">Status</th>
                        <th>Change Status</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users_lead_lost %}
                          <tr>
                              <td>{{ user.name }}</td>

                              <td>
                                <a href="tel:{{ user.call }}">
                                    <i class="fas fa-phone" style="font-size:1em;"></i></a>
                            </td>            
                              {% comment %} <td><a href="tel:{{ user.call }}">{{ user.call }}</a></td> {% endcomment %}
                              <td>{{user.status}}</td>
                              <td>
                                <form action="{% url 'status_update' %}" method="POST">
                                    {% csrf_token %}
                                <input type="hidden" name="leads_id" value="{{ user.id }}">
                                <div class="dropdown">
                                    
                                    <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">{{ user.status }}&nbsp;</button>
                                    <div class="dropdown-menu">
                                      <button class="dropdown-item" type="submit" name="new_status" value="Leads">Leads</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Intrested">Intrested</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Not Interested">Not Interested</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Other Location">Other Location</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Not Picked">Not Picked</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Lost">Lost</button>
                                    </div>
                                </div>
                            </form>
                            </td>
                          </tr>
                      {% endfor %}
                  </tbody>

                  </table>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}